In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def numerizeYear(df):
  df.reset_index(inplace=True)
  df['Year']=pd.to_numeric(df['Year'])
  df.set_index(['Borough','Year'],inplace=True)
  return df
def boroughSetter(df):
  df.reset_index(inplace=True)
  df['Borough'] = df['Borough'].str.replace(' Of ', ' of ')
  df['Borough'] = df['Borough'].str.replace(' Upon ', ' upon ')
  df['Borough'] = df['Borough'].str.replace(' & ', ' and ')
  df['Borough'] = df['Borough'].str.replace('City of Westminster', 'Westminster')
  
  df.set_index(['Borough','Year'],inplace=True)
  return df

def junter(full,new):
  new=numerizeYear(new)
  new=boroughSetter(new)
  result=pd.concat([full, new],axis=1)
  return result

def checker(df,start,finish):
  print('la lenght es ',len(df))
  for i in np.arange(start,finish+1,1):
    print(len(df.loc[(slice(None),i),:]))
  return None

In [ ]:
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/salida/activenterprisesbyborough.pkl')
df1=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/SALIDA/electricityconsumption1.pkl')
#df0=numerizeYear(df0)
#df1=numerizeYear(df1)
#dFull=pd.concat([df0, df1],axis=1)
#dFull

NameError: ignored

In [ ]:
#cambiar formato de columnas
df2=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/cob-borough.pkl')
df2=numerizeYear(df2)
dFull1=pd.concat([dFull, df2],axis=1)
checker(dFull1,1999,2020)
dFull1

In [ ]:
df3=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/electoral-roll-numbers-borough.pkl')
dFull2=junter(dFull1,df3)
checker(dFull2,1999,2020)
dFull2

In [ ]:
url='/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/met-police-recorded-offences-rates-borough.pkl'
df4=pd.read_pickle(url)
dFull3=junter(dFull2,df4)
checker(dFull3,1999,2020)
dFull3

In [ ]:

url='/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/housing-density-borough.pkl'
df5=pd.read_pickle(url)
df5=df5.drop(['London','Inner London','Outer London','Greater London'])
dFull4=junter(dFull3,df5)
checker(dFull4,1999,2050)
dFull4

In [ ]:
url='/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/nationality-borough.pkl'
df6=pd.read_pickle(url)
df6.columns = ['__'.join(col).strip() for col in df6.columns.values]
df6.columns = [f'nationality/{col}' for col in df6.columns.values]

dFull5=junter(dFull4,df6)
checker(dFull5,1999,2050)
dFull5

In [ ]:
url='/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/statutory-homelessness-borough 2017-18 revised.pkl'
df7=pd.read_pickle(url)


dFull6=junter(dFull5,df7)
checker(dFull6,1999,2050)
dFull6

In [ ]:
url='/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/population-by-religion-borough.pkl'
df8=pd.read_pickle(url)


dFull7=junter(dFull6,df8)
checker(dFull7,1999,2050)
dFull7

In [ ]:
url='/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/Internal-migration-flows-age-groups-0to15-2002-2016.pkl'
df9=pd.read_pickle(url)
df9.reset_index(inplace=True)
df9.set_index(['Borough','Year','age-group'],inplace=True)
df9=df9.unstack()
df9.columns = ['/'.join(col).strip() for col in df9.columns.values]
dFull8=junter(dFull7,df9)
checker(dFull8,1999,2050)
dFull8

In [ ]:
url='/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/done/population-estimates-single-year-age.pkl'
df10=pd.read_pickle(url)
df10=df10.loc[:,'PERSONS']
df10.columns = [f'age/{col}' for col in df10.columns.values]


dFull9=junter(dFull8,df10)
checker(dFull9,1999,2050)

dFull9

In [ ]:
#dFull9.to_pickle('fullLondon0.pkl')
#dFull9.to_csv('fullLondon0.csv')

In [ ]:
#boroughSetter(df)
def firstFour(cell):
  return cell[0:4]
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/fullLondonV1.pkl')
df1=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/SALIDA/UK INDEX PRICES.pkl')
df1.reset_index(inplace=True)
df1.set_index(['Borough','Year'],inplace=True)
df1.sort_index(inplace=True)
df1=boroughSetter(df1)
df1=df1.drop(['EAST MIDLANDS','EAST OF ENGLAND','England','Inner London','LONDON','NORTH EAST','NORTH WEST','Outer London','SOUTH EAST','SOUTH WEST','WEST MIDLANDS','YORKS and THE HUMBER'])
df1.reset_index(inplace=True)
df1=df1.rename(columns={'Category':'','Year':'Date'})
df1['Date']=df1['Date'].apply(str)
df1['Year']=df1['Date'].apply(firstFour)
df1['Year']=pd.to_numeric(df1['Year'])
df1['Month']=df1['Date'].apply(lambda cell: cell[5:7])
df1['Month']=pd.to_numeric(df1['Month'])
df1=df1.drop('Date',axis=1)
#df1.to_excel('medio.xlsx')
df2=pd.read_excel('/content/medio.xlsx')
df2=df2.drop('Unnamed: 0',axis=1)
df2.set_index(['Borough','Year','Month'],inplace=True)
df2=df2.unstack()
df2=df2.rename_axis(columns={'Month':''})  
#df2.to_csv('price.csv')
#df2.to_pickle('price.pkl')

In [ ]:
url='/content/price.pkl'
dfv=pd.read_pickle(url)
gf = [f'{col[0]}/{col[1]}' for col in dfv.columns.values]
dfv.columns = [f'{col[0]}/{col[1]}' for col in dfv.columns.values]
acum=junter(df0,dfv)
checker(acum,1999,2020)
#acum.to_csv('fullLondonV2.csv')
#acum.to_pickle('fullLondonV2.pkl')

la lenght es  1848
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33

In [ ]:

def firstFour(cell):
  return cell[0:4]
df0=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/agus/fullLondonV1.pkl')
df1=pd.read_pickle('/content/drive/MyDrive/Tesis Economia/Cambio climatico/excel/SALIDA/avg prices by type.pkl')

df1.reset_index(inplace=True)
df1['Date']=df1['Date'].apply(str)
df1['Year']=df1['Date'].apply(firstFour)
df1['Year']=pd.to_numeric(df1['Year'])
df1['Month']=df1['Date'].apply(lambda cell: cell[5:7])
df1['Month']=pd.to_numeric(df1['Month'])
df1.set_index(['Borough','Year'],inplace=True)
df1.sort_index(inplace=True)
df1=boroughSetter(df1)

boroughs=df0.loc[(slice(None),2000),:].reset_index()['Borough'].to_numpy()
df1=df1.loc[boroughs,:]
df1=df1.drop('Date',axis=1)

df1.reset_index(inplace=True)

df1.set_index(['Borough','Year','Month'],inplace=True)
df1=df1.unstack()
df1=df1.rename_axis(columns={'Month':''})  


df1.columns = [f'{col[0]}/{col[1]}' for col in df1.columns.values]
acum=junter(df0,df1)
checker(acum,1995,2020)
#acum.to_csv('fullLondonV3.csv')
#acum.to_pickle('fullLondonV3.pkl')

la lenght es  1848
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33